<form action="/result" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <select name="location">
        <option value="Burbank">Burbank</option>
        <option value="Seattle">Seattle</option>
        <option value="Mountain View">Mountain View</option>
    </select>
    <select name="language">
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="C#">C#</option>
    </select>
    <textarea name="comment"></textarea>
    <input type="submit" value="Submit">
</form>